@font-face {
  font-family: 'inco-icons';
  src: url('inco-icons.eot?t=1749514699470'); /* IE9*/
  src:
    url('inco-icons.eot?t=1749514699470#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('inco-icons.woff2?t=1749514699470') format('woff2'),
    url('inco-icons.woff?t=1749514699470') format('woff'),
    url('inco-icons.ttf?t=1749514699470') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('inco-icons.svg?t=1749514699470#inco-icons') format('svg'); /* iOS 4.1- */
}

.inco-icons {
  font-family: 'inco-icons' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
